body{
    background-color: gray;
    color: white;
    font-family:monospace;
}
section{
    border: 1px solid black;
    padding: 10px;
    font-size: large;
    margin: 10px;
}
/*#scoll-sec{
    display: flex;
    justify-content: end;
    width: 20px;
}*/
#scroll{
    position: fixed;
    bottom: 40px;
    right: 50px;
    font-size: larger;
    color: black;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.4;
}
#scroll:hover{
    background-color: black;
    color: white;
    opacity: 0.5;
}